<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add More Cities</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <style>
        #add-form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="header">
    <div th:replace="~{header :: head-add}"></div>
</div>

<div id="main">
    <div>
        <form id="add-form" th:action="@{add}" method="post">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="province_id"></th>
                    <th scope="col" th:text="cityname"></th>
                    <th scope="col" th:text="description"></th>
                    <th scope="col">Submit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="list">
                        <input type="number" class="form-control" th:name="province_id">
                    </td>
                    <td class="list">
                        <input type="text" class="form-control" th:name="city_name">
                    </td>
                    <td class="list">
                        <input type="text" class="form-control" th:name="description">
                    </td>
                    <td class="list">
                        <input type="submit" class="btn btn-primary" th:value="Add">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div>
        <h3 th:text="${message}"></h3>
    </div>
</div>

<div id="footer">
    <div th:replace="~{footer :: footer-fragment}"></div>
</div>
</body>
</html>